---
usage: Used everywhere
---
<header class="entry-header">
	<span class="post-meta">
	  <time class="entry-date updated" datetime="2014-02-08">8 Feb 2014</time> on Development by 
	  <span class="vcard">
	    <span class="fn">Anders</span>
	  </span>
	</span>
	<span class="post-meta readtime">2:15 reading time</span>

	<h1 class="entry-title">Grunt – The JavaScript task runner</h1>
</header>